.ull{
    //border: solid black;
    padding: 10px;
    width: 98%;
}
a:link{
    text-decoration: none;
    color: rgba(0,0,0,0.64);
    font-size: 13px;
}
a:hover{
    text-decoration-line: underline;

}
.neg{
    display: inline-block;
    margin-left: 10px;
}
.negin{
    float: right;
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
   // border: solid black;
}
.neg1{
    margin-right: 10px;
    display: inline-block;
    
}
.body1{
    margin: auto;
    width: 100%;
}
.logoin{
    padding-top: 100px;
    height: 131px;
    width: 100%;
    //border: 1px solid black;
}
.logo{
    //margin-top: 100px;
    //margin-left: 38%;
    margin:0 auto;
    //left: 50vw;
    width: 310px;
}
.searchin{
    width: 100%;
    padding-top: 10px;
    //text-align: center;
    //border: solid black;
    
}
.search{
    //margin-top: 14px;
    margin: 0 auto;
    //margin-left:31%;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 500px;
    height: 31px;
}

.svg1{

    width: 31px;
   // border: 1px solid black;
    padding-bottom :14px;
    //color: #9AA0A6;
    fill: #9AA0A6;
    margin-top:1px;
    margin-left:4px;
}
.input1{
    margin-left: 4px;
    //border: 1px solid black;
    width: 310px;
}
.input{
    border: none;
    margin: 0px;
    width:310px;
    height: 27px;
}
.buttonin{
    padding-top: 31px;
}
.button{
    width: 301px;
    margin: 0 auto;
    //border: 1px solid black;
    display: flex;
}
.googlesearch{
    
    background-color: #f2f2f2;
    width: 131px;
    height: 31px;
    padding-top: 10px;
    margin-right: 31px;


    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#5F6368;
    border-radius: 4px;
}
.googlesearch1{
    background-color: #f2f2f2;
    width: 131px;
    height: 31px;



    text-align: center;
    padding-top: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:#5F6368;
    border-radius: 4px;
}
.nihonin{
    width: 100%;
    padding-top: 31px;
}
.nihon{
    margin: 0 auto;
    width: 151px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color:#5F6368;
    //border: solid black;
}
input:focus{
    outline: none;
}
.ull1{
    position: absolute;
    right: 0.5%;
    left: 0.5%;
    bottom: 0px;
    //border: solid black;
    padding: 10px;
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;   
}
.fujiwara{
    display: inline-block;
    margin-left: 10px;
}
.negin1{
    float: right;
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
    //border: solid black;
}
.fujiwara1{
    margin-right: 10px;
    display: inline-block;
    
}